#header {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: inherit;
}

#container {
    width: 1000px;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
  width: 300px;
    border-radius: 50%;
    shape-outside: circle();
    shape-margin: 15px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
    font-family: sans-serif;
    font-size: 25px;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

