.header {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: inherit;
    width: auto;
    height: 100px;
    background-color: #eaeaea;
    padding: 10px;
}

h2.header {
    text-align: center;
    padding:25px;
}

#container {
    width: auto;
    
    background-color: #eaeaea;
    margin-top: 10px;
}

img.img-list {
    text-align: center;
    margin: auto;
}

ul.img-list {
  list-style-type: none;
  
  padding: 0;
  text-align: center;
  
    border-color: #000;
}
 
ul.img-list li {
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
  width: 300px;
  
    text-align: center;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
    font-family: sans-serif;
    font-size: 25px;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 300px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

.footer {
    width:100%;
	height:80px;
	position:fixed;
	bottom:0;
	left:0;
    text-align: center;
    background-color: #eaeaea;  
}

p.footer {
    text-align: center;
    padding-top: 25px;
}
