.header {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: inherit;
    width: auto;
    height: 80px;
    background-color: #83C2F5;
    padding: 10px;
    opacity: 0.9;
}

.container p {
    color: #000;
	font-family: monospace;
    font-size: 14px;
}


body {
    background-image:url(../images/holiday.jpg);
    background-color: #000;
    
}


h2.header {
    text-align: center;
    margin-top:10px;
    
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #eaeaea;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 7px;
    border-color: #000;
    cursor: pointer;
}

.navbar {
    text-align: center;
    background: #dfdfdf; 
    padding: 10px;
    margin-bottom: 10px;
    opacity: 0.9;
    border: 3px solid #fff;
    
    width: auto;
}

.navbar ul {
    display: inline-block;
    list-style: none; 
    padding: 0;
}

.navbar ul li {
    float: left;
    margin-bottom: 15px;
}

.navbar ul li a {
    padding: 10px 25px; 
    background: #fff; 
    margin-right: 5px;
    color: #000;
    text-decoration: none;
}

.navbar ul li a:hover {
    background: #000;
    color: #fff;
}

a {
    display: block;
    width: 100px;
    text-decoration: none;
    color: #000;
    
}

.holidays {
     width: 300px;
    padding: 15px;
    background-color: #eaeaea;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 7px;
    border-color: #000;
    opacity: 0.9;
    border: 3px solid #fff;
}

.holidays a {
    display: block;
    width: 300px;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.holidays:hover {
    border: 3px solid #000;
    opacity: 1.0;
}

.login-box {
    width: 300px;
    padding: 15px;
    background-color: #eaeaea;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 7px;
    border-color: #000;
    opacity: 0.9;
    border: 3px solid #fff;
  
}

.login-toggle {
    width: 300px;
    padding: 15px;
    background-color: #eaeaea;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 7px;
    border-color: #000;
    cursor: pointer;
    opacity: 0.9;
    border: 3px solid #fff;
  
}

.login-toggle:hover {
    border: 3px solid #000;
    opacity: 1.0;
}

.register {
    width: 300px;
    padding: 15px;
    background-color: #eaeaea;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0.9;
    border: 3px solid #fff;
}

.register-toggle {
    width: 300px;
    padding: 15px;
    background-color: #eaeaea;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
    border: 3px solid #fff;
}

.register-toggle:hover {
    border: 3px solid #000;
    opacity: 1.0;
}

.logout {
    width: 300px;
    padding: 15px;
    background-color: #eaeaea;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 7px;
    border-color: #000;
    opacity: 0.9;
    border: 3px solid #fff;
  
}

.logout-toggle {
    width: 300px;
    padding: 15px;
    background-color: #eaeaea;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
    border: 3px solid #fff;
}

.logout-toggle:hover {
    border: 3px solid #000;
    opacity: 1.0;
}

.logout a {
    display: block;
    width: 300px;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.add-holiday {
    width: 300px;
    padding: 15px;
    background-color: #eaeaea;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0.9;
    border: 3px solid #fff;
}

.add-holiday:hover {
    border: 3px solid #000;
    opacity: 1.0;
}

.holiday-toggle{
    width: 300px;
    padding: 15px;
    background-color: #eaeaea;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
    border: 3px solid #fff;
}

.holiday-toggle:hover {
    border: 3px solid #000;
    opacity: 1.0;
}

.sort {
    width: 300px;
    padding: 15px;
    background-color: #eaeaea;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0.9;
    border: 3px solid #fff;
}

.about-site {
    width: 80%;
    padding: 15px;
    background-color: #eaeaea;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0.9;
    
}

.box {
    clear: both;
    background: #dfdfdf;
    float: left;
    position: relative;
    margin-bottom: 15px; 
    border: 3px solid #fff;
    padding: 10px;
    opacity: 0.9;
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.success {
    clear: both;
    background: #dfdfdf;
    float: left;
    position: relative;
    margin-bottom: 15px; 
    border: 3px solid #fff;
    padding: 10px;
    opacity: 0.9;
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.sort:hover {
    border: 3px solid #000;
    opacity: 1.0;
}

.box:hover {
    border: 3px solid #000;
    opacity: 1.0;
}

.box-right {
    margin-right: 0;
}

.box img {
    max-width: 200px;
    float: left;
    margin-right: 15px;
}

.clearfix {
    clear: both:
}
